<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GEV.Layouts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GEV.Layouts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GEV.Layouts.Properties.Settings>
            <setting name="FormBackground" serializeAs="String">
                <value>57, 65, 68</value>
            </setting>
            <setting name="PanelBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="HeaderBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="Border" serializeAs="String">
                <value />
            </setting>
            <setting name="SoftBorder" serializeAs="String">
                <value />
            </setting>
            <setting name="Shadow" serializeAs="String">
                <value />
            </setting>
            <setting name="Button" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor1" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor1Highlight" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor2" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor2Highlight" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor3" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor3Highlight" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryText" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryText" serializeAs="String">
                <value />
            </setting>
            <setting name="SuccessGreen" serializeAs="String">
                <value>76, 175, 80</value>
            </setting>
            <setting name="ErrorRed" serializeAs="String">
                <value>224, 67, 54</value>
            </setting>
        </GEV.Layouts.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GEV.Layouts.Properties.Settings>
            <setting name="AlertYellow" serializeAs="String">
                <value>255, 193, 0</value>
            </setting>
        </GEV.Layouts.Properties.Settings>
    </userSettings>
</configuration>